*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
   outline: o;

}
ul,li,ol{
    list-style: none;
}
.container{
    max-width: 1320px;
    margin: 0 auto;

}
nav{
    background-color: aqua;
    height: 80px;

}
nav.main-menu{
    background-color: red;
    height: 80px;
}
.main-menu.logo{
    padding-top: 12px;
    width: 200px;
    background-color: blue;
float: left;
}
.main-menu.menu{
    padding-top: 12px;
    width: 900px;
    background-color: chartreuse;
float: left;
}
.main-menu.button{
    padding-top: 12px;
    width: 1500px;
    background-color: green;
float: left;
}